{
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        [
          "transform-inline-environment-variables",
          {
            "include": [
              "NODE_ENV"
            ]
          }
        ]
      ]
    }
  }
}