body {
    background-color: lightgrey;
    text-align: center;
    margin-top: 5%;
    background-image: url(./../../assets/img/image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
form {
    text-align: start;
}
button {
    width: 100%;
}
#show-error, #all-conversions {
    margin-top: 15px;
    font-size: 25px;
}
#show-error {
    color: red;
} 
p, em {
    text-align: center;
    font-size: 25px;
}
div > span{
    color: rgb(0, 180, 0);
}
#change-info {
    display: none;
}
.card {
    padding: 30px;
}
h1 {
    margin-bottom: 30px;
}