body {
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 5%;
    background-image: url(./../../assets/img/image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#show-error, #all-conversions {
    margin-top: 15px;
    font-size: 25px;
}
#show-error {
    color: red;
} 
p, em {
    text-align: center;
    font-size: 25px;
}
div > span{
    color: rgb(0, 180, 0);
}
#change-info {
    display: none;
    text-align: center;
    width: 100%;
}
#submit-info {
    text-align: center;
    width: 100%;
}
.card {
    padding: 30px;
    background-color:rgba(128, 128, 128, 0.479);
    text-align: center;
    min-height: 500px;
    max-height: 500px;
}
h1 {
    margin-bottom: 30px;
}
